<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

            <section>

                <article class="carrusel-container">
                    <div id="button-left"></div>
                    <div>
                        <img src="https://phantom-elmundo.unidadeditorial.es/6736bc692f59a08ed2f74709c7254b59/resize/746/f/jpg/assets/multimedia/imagenes/2020/11/30/16066910612983.jpg"
                            alt="" class="imagen-oferta">
                    </div>
                    <div id="button-right"></div>
                </article>
                <div class="guia-carrusel">
                    <div class="guia-carrusel-div"></div>
                    <div class="guia-carrusel-div"></div>
                    <div class="guia-carrusel-div"></div>
                    <div class="guia-carrusel-div"></div>
                    <div class="guia-carrusel-div"></div>
                </div>
            </section>
            <div>


            </div>
            <section class="category-home-container">
                <a href="#oferta" id="link-container">
                    <article class="category-home">
                        <div><img src="/vectores/Oferta.png" alt="" id="imagen-vector"></div>
                        <p>Ofertas</p>
                    </article>
                </a>
                <a href="#nuevo" id="link-container">
                <article class="category-home">
                    <div><img src="/vectores/BookVector.png" alt=""></div>
                    <p>Nuevos</p>
                </article>
                </a>
                <a href="#mas-vendidos" id="link-container">
                <article class="category-home">
                    <div><img src="/vectores/TshirtVector.png" alt=""></div>
                    <p>Mas Vendido</p>
                </article>
                </a>
                <a href="#5-estrellas" id="link-container">
                <article class="category-home">
                    <div><img src="/vectores/PlusVector.png" alt=""></div>
                    <p>¡5 Estrellas!</p>
                </article>
                </a>
            </section>

            <div class="titulo-decompra" id="oferta"> 
                <p>Ofertas</p>
            </div>


            <section class="articulos">
                <a href="/productos/detalle/1" id="link-container">
                    <article class="articulo-container">
                    <div class="articulo-container-img"><img src="/img/SuperMarioBros3.jpg" alt="" > </div>

                    <div class="articulo-container-description">
                        <h3> Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                        <div>
                            <div class="articulo-container-description-valor">
                                <h4 id="precio">18.000$</h4>
                                <h4>17%off</h4>
                            </div>

                            <div class="articulo-container-description-button">

                                <input type="button" value="CARRITO">
                            </div>


                        </div>
                    </div>
              

                </article>
                </a>


                <article class="articulo-container">
                    <div class="articulo-container-img"></div>

                    <div class="articulo-container-description">
                        <h3> Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                        <div>
                            <div class="articulo-container-description-valor">
                                <h4 id="precio">18.000$</h4>
                                <h4>17%off</h4>
                            </div>

                            <div class="articulo-container-description-button">

                                <input type="button" value="CARRITO">
                            </div>


                        </div>
                    </div>


                </article>
                <article class="articulo-container">
                    <div class="articulo-container-img"></div>

                    <div class="articulo-container-description">
                        <h3> Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                        <div>
                            <div class="articulo-container-description-valor">
                                <h4 id="precio">18.000$</h4>
                                <h4>17%off</h4>
                            </div>

                            <div class="articulo-container-description-button">

                                <input type="button" value="CARRITO">
                            </div>


                        </div>
                </article>


            </section>


            <div class="titulo-decompra" id="mas-vendidos">
                <p>¡Mas Vendidos!</p>
            </div>

            <section class="articulos">
                <% 
                let masVendidos = productos.filter( producto => producto.sales >= 20);
                
                masVendidos.forEach(productos => { %>
    
                    <a href="/products/detail/<%= productos.id %>" id="link-container">
                        <article class="articulo-container">
                        <div class="articulo-container-img"><img src="/img/<%=productos.photo[0] %>" alt=""></div>
    
                        <div class="articulo-container-description">
                            <h3><%= productos.name %></h3>
                            <p><%= productos.description.slice(0,80) + "..."%></p>
                            <div>
                                <div class="articulo-container-description-valor">
                                    <h4 id="precio"><%= productos.price %>$</h4>
                                    <% if(productos.descount != 0){ %>
    
                                    <h4><%= productos.descount %> %off</h4>
                                    <% } %>
    
                                </div>
    
                                <div class="articulo-container-description-button">
    
                                    <input type="button" value="CARRITO">
                                </div>
    
    
                            </div>
                        </div>
                        
    
                    </article>
                    </a>
    
    
                <% }) %>
                </section>


            <div class="titulo-decompra" id="5-estrellas">
                <p>¡5 Estrellas!</p>
            </div>

            <section class="articulos">
            <% 
            let cincoEstrellas = productos.filter( producto => producto.stars >= 4);
            
            cincoEstrellas.forEach(productos => { %>

                <a href="/products/detail/<%= productos.id %>" id="link-container">
                    <article class="articulo-container">
                    <div class="articulo-container-img"> <img src="/img/<%=productos.photo[0] %>" alt=""></div>

                    <div class="articulo-container-description">
                        <h3><%= productos.name %></h3>
                        <p><%= productos.description.slice(0,80) + "..."%></p>
                        <div>
                            <div class="articulo-container-description-valor">
                                <h4 id="precio"><%= productos.price %>$</h4>
                                <% if(productos.descount != 0){ %>

                                <h4><%= productos.descount %> %off</h4>
                                <% } %>

                            </div>

                            <div class="articulo-container-description-button">

                                <input type="button" value="CARRITO">
                            </div>


                        </div>
                    </div>
                    

                </article>
                </a>


            <% }) %>
            </section>
            

            <%- include('./partials/footer.ejs') %>

            <%- include('./partials/script.ejs')  %> 
    </body>

</html>