<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

       <%- include('./partials/header.ejs') %> 
       <section>

        <article class="carrusel-container">
            <div id="button-left"></div>
            <div>
                <img src="https://phantom-elmundo.unidadeditorial.es/6736bc692f59a08ed2f74709c7254b59/resize/746/f/jpg/assets/multimedia/imagenes/2020/11/30/16066910612983.jpg"
                    alt="" class="imagen-oferta">
            </div>
            <div id="button-right"></div>
        </article>
        <div class="guia-carrusel">
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
        </div>
    </section>
    <div>


    </div>
    <section class="category-home-container">
        <a href="#oferta" id="link-container">
            <article class="category-home">
                <div><img src="/vectores/Oferta.png" alt="" id="imagen-vector"></div>
                <p>Ofertas</p>
            </article>
        </a>
        <a href="#nuevo" id="link-container">
        <article class="category-home">
            <div><img src="/vectores/BookVector.png" alt=""></div>
            <p>Nuevos</p>
        </article>
        </a>
        <a href="#mas-vendidos" id="link-container">
        <article class="category-home">
            <div><img src="/vectores/TshirtVector.png" alt=""></div>
            <p>Mas Vendido</p>
        </article>
        </a>
        <a href="#5-estrellas" id="link-container">
        <article class="category-home">
            <div><img src="/vectores/PlusVector.png" alt=""></div>
            <p>ยก5 Estrellas!</p>
        </article>
        </a>
    </section>

    <div class="titulo-decompra" id="oferta"> 
        <p>Ofertas</p>
    </div>


 
<section class="section-containers">
    <% for (let i = 0; i < Off.length; i++) { %>
    
        
  
 <article class="container-new">
    <!--  <a id="homeLink" href="/products/detail/<%= Off[i].id %>">  -->
  <div class="article-header">
    <div class="descount"><svg width="90%" height="90%" viewBox="0 0 66 79" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Chan">
      <g id="MoneyM">
      <path id="Vector" d="M32 14C33.9778 14 35.9112 14.5865 37.5557 15.6853C39.2002 16.7841 40.4819 18.3459 41.2388 20.1732C41.9957 22.0004 42.1937 24.0111 41.8078 25.9509C41.422 27.8907 40.4696 29.6725 39.0711 31.0711C37.6725 32.4696 35.8907 33.422 33.9509 33.8079C32.0111 34.1937 30.0004 33.9957 28.1732 33.2388C26.3459 32.4819 24.7841 31.2002 23.6853 29.5557C22.5865 27.9112 22 25.9778 22 24C22 22.6868 22.2587 21.3864 22.7612 20.1732C23.2637 18.9599 24.0003 17.8575 24.9289 16.9289C25.8575 16.0003 26.9599 15.2638 28.1732 14.7612C29.3864 14.2587 30.6868 14 32 14V14ZM32 32C33.5822 32 35.129 31.5308 36.4446 30.6518C37.7602 29.7727 38.7855 28.5233 39.391 27.0615C39.9965 25.5997 40.155 23.9911 39.8463 22.4393C39.5376 20.8874 38.7757 19.462 37.6568 18.3431C36.538 17.2243 35.1126 16.4624 33.5607 16.1537C32.0089 15.845 30.4003 16.0035 28.9385 16.609C27.4767 17.2145 26.2273 18.2398 25.3482 19.5554C24.4692 20.871 24 22.4177 24 24C24 26.1217 24.8428 28.1566 26.3431 29.6569C27.8434 31.1571 29.8783 32 32 32V32Z" fill="#FFD233"/>
      <path id="Vector_2" d="M32.2947 23C34.2947 23 34.2947 22.37 34.2947 22C34.2947 21.63 33.5947 21 32.2947 21C30.9947 21 30.9047 21.64 30.8947 22H28.8947C28.9083 21.3188 29.1533 20.6624 29.5895 20.139C30.0257 19.6155 30.6271 19.2561 31.2947 19.12V18H33.2947V19.09C35.2947 19.42 36.2947 20.71 36.2947 22C36.2947 23.12 35.7747 25 32.2947 25C30.2947 25 30.2947 25.68 30.2947 26C30.2947 26.32 30.9147 27 32.2947 27C34.1347 27 34.2947 26.14 34.2947 26H36.2947C36.2947 26.92 35.6347 28.55 33.2947 28.92V30H31.2947V28.92C29.2947 28.58 28.2947 27.29 28.2947 26C28.2947 24.88 28.8147 23 32.2947 23Z" fill="#FFD233"/>
      </g>
      <g id="MoneyT">
      <path id="Vector_3" d="M13 0C14.9778 0 16.9112 0.58649 18.5557 1.6853C20.2002 2.78412 21.4819 4.3459 22.2388 6.17317C22.9957 8.00043 23.1937 10.0111 22.8078 11.9509C22.422 13.8907 21.4696 15.6725 20.0711 17.0711C18.6725 18.4696 16.8907 19.422 14.9509 19.8079C13.0111 20.1937 11.0004 19.9957 9.17316 19.2388C7.3459 18.4819 5.78411 17.2002 4.6853 15.5557C3.58649 13.9112 3 11.9778 3 10C3 8.68678 3.25865 7.38642 3.7612 6.17317C4.26375 4.95991 5.00034 3.85752 5.92893 2.92893C6.85751 2.00035 7.9599 1.26375 9.17316 0.761205C10.3864 0.258658 11.6868 0 13 0V0ZM13 18C14.5822 18 16.129 17.5308 17.4446 16.6518C18.7602 15.7727 19.7855 14.5233 20.391 13.0615C20.9965 11.5997 21.155 9.99113 20.8463 8.43928C20.5376 6.88743 19.7757 5.46197 18.6568 4.34315C17.538 3.22433 16.1126 2.4624 14.5607 2.15372C13.0089 1.84504 11.4003 2.00346 9.93853 2.60896C8.47672 3.21447 7.22729 4.23984 6.34824 5.55544C5.46919 6.87103 5 8.41775 5 10C5 12.1217 5.84285 14.1566 7.34314 15.6569C8.84343 17.1571 10.8783 18 13 18V18Z" fill="#FFD233"/>
      <path id="Vector_4" d="M13 9C15 9 15 8.37 15 8C15 7.63 14.3 7 13 7C11.7 7 11.61 7.64 11.6 8H9.6C9.61352 7.31875 9.85854 6.66241 10.2947 6.13896C10.731 5.61551 11.3324 5.25614 12 5.12V4H14V5.09C16 5.42 17 6.71 17 8C17 9.12 16.48 11 13 11C11 11 11 11.68 11 12C11 12.32 11.62 13 13 13C14.84 13 15 12.14 15 12H17C17 12.92 16.34 14.55 14 14.92V16H12V14.92C10 14.58 9 13.29 9 12C9 10.88 9.52 9 13 9Z" fill="#FFD233"/>
      </g>
      <g id="Chanchito">
      <path id="Vector_5" d="M64.7506 45.2344C64.516 44.4562 64.0981 43.7456 63.5319 43.1625C63.0997 42.6963 62.545 42.3612 61.9313 42.1956C62.2319 42.6709 62.5041 43.2194 62.7072 43.8044C62.9347 44.4016 63.0809 45.0394 63.1256 45.7016C63.1941 46.2737 63.1941 46.8519 63.1256 47.4241C62.9989 47 62.8041 46.5993 62.5488 46.2378C62.0457 45.5579 61.3734 45.0215 60.5988 44.6819C59.7407 44.2955 58.7701 44.2402 57.8738 44.5268C56.9775 44.8133 56.2189 45.4213 55.7441 46.2337C55.5409 46.5669 55.3784 46.9284 55.2566 47.3144C50.4547 39.3194 41.8138 34.0259 31.9338 34.0259C31.43 34.0259 30.9303 34.0381 30.4347 34.0666C27.3695 34.0723 24.3197 34.5002 21.3713 35.3381C21.1194 33.575 18.8038 30 8.16001 30L11.41 40.1969C9.36635 41.8488 7.64839 43.8671 6.34408 46.1484L0.0350143 46.25C0.0350143 46.25 -0.65561 62.5 4.09751 62.5H6.29126C7.78473 65.0315 9.78289 67.2288 12.1616 68.9553L12.2225 78.7459H16.61C21.9319 78.7459 24.41 78.7459 24.41 75.6991V74.1147C28.5077 74.874 32.711 74.863 36.8047 74.0822L36.5975 75.6991C36.5975 78.7459 39.1163 78.7459 44.4788 78.7459H48.785V69.0366C52.5944 66.3955 55.3359 62.4814 56.5159 57.9988C56.7475 57.8891 56.9791 57.9013 57.2147 57.9013C57.4503 57.9013 57.6819 57.8891 57.9134 57.8606C58.9331 57.6737 59.8634 57.2756 60.6719 56.7109C61.7645 55.9379 62.6007 54.8555 63.0728 53.6031C63.1866 53.2253 63.2719 52.8272 63.3288 52.4169L63.3328 52.3762C64.2306 51.3119 64.8441 49.9794 65.035 48.5128C65.201 47.3922 65.1008 46.2482 64.7425 45.1734L64.7506 45.2344ZM14.2944 45.2344C15.1025 45.2344 15.8775 45.5554 16.4489 46.1268C17.0203 46.6982 17.3413 47.4732 17.3413 48.2812C17.3413 49.0893 17.0203 49.8643 16.4489 50.4357C15.8775 51.0071 15.1025 51.3281 14.2944 51.3281C13.4863 51.3281 12.7113 51.0071 12.1399 50.4357C11.5685 49.8643 11.2475 49.0893 11.2475 48.2812C11.2475 47.4732 11.5685 46.6982 12.1399 46.1268C12.7113 45.5554 13.4863 45.2344 14.2944 45.2344V45.2344ZM23.9225 42.1875C23.4637 42.3346 22.9677 42.3146 22.5222 42.1309C22.0768 41.9473 21.7108 41.6118 21.4891 41.1841C21.42 40.9709 21.3969 40.7455 21.4213 40.5228C21.4457 40.3 21.5171 40.085 21.6307 39.8919C21.7444 39.6988 21.8977 39.532 22.0806 39.4025C22.2634 39.2729 22.4717 39.1837 22.6916 39.1406C25.3636 38.4999 28.1058 38.1996 30.8531 38.2469L31.2634 38.2428C33.9934 38.2428 36.6422 38.5678 39.1813 39.1853C39.6931 39.2828 40.2456 39.9247 40.2456 40.6966C40.2454 40.8608 40.2194 41.0239 40.1684 41.18C40.0262 41.4434 39.8256 41.6708 39.582 41.8447C39.3383 42.0186 39.0581 42.1345 38.7628 42.1834H38.1413C35.8718 41.6369 33.545 41.3642 31.2106 41.3709H30.8491C28.3913 41.3709 26.0025 41.6675 23.7153 42.2281L23.9225 42.1875ZM59.2663 54.0906C58.7181 54.4893 58.0904 54.7651 57.4259 54.8991L56.91 54.9438V54.375V53.1156C57.5803 53.6234 58.4294 53.9281 59.3475 53.9281H59.4328L59.2663 54.0906ZM59.5913 51.3281C59.2136 51.381 58.829 51.3118 58.4935 51.1306C58.158 50.9493 57.8893 50.6655 57.7266 50.3206C57.5404 49.9659 57.4435 49.5711 57.4442 49.1704C57.4449 48.7698 57.5432 48.3754 57.7306 48.0212C57.9238 47.7539 58.2082 47.5666 58.5301 47.4947C58.8519 47.4229 59.189 47.4714 59.4775 47.6313C59.8456 47.7725 60.1623 48.0221 60.3856 48.347C60.609 48.6719 60.7287 49.057 60.7288 49.4513V49.4553C60.809 50.0186 60.8077 50.5905 60.7247 51.1534C60.3474 51.2261 59.9631 51.2561 59.5791 51.2428L59.5913 51.3281Z" fill="url(#paint0_linear_733_49)" fill-opacity="0.85"/>
      </g>
      <g id="MoneyB">
      <path id="Vector_6" d="M51 0C52.9778 0 54.9112 0.58649 56.5557 1.6853C58.2002 2.78412 59.4819 4.3459 60.2388 6.17317C60.9957 8.00043 61.1937 10.0111 60.8078 11.9509C60.422 13.8907 59.4696 15.6725 58.0711 17.0711C56.6725 18.4696 54.8907 19.422 52.9509 19.8079C51.0111 20.1937 49.0004 19.9957 47.1732 19.2388C45.3459 18.4819 43.7841 17.2002 42.6853 15.5557C41.5865 13.9112 41 11.9778 41 10C41 8.68678 41.2587 7.38642 41.7612 6.17317C42.2637 4.95991 43.0003 3.85752 43.9289 2.92893C44.8575 2.00035 45.9599 1.26375 47.1732 0.761205C48.3864 0.258658 49.6868 0 51 0ZM51 18C52.5822 18 54.129 17.5308 55.4446 16.6518C56.7602 15.7727 57.7855 14.5233 58.391 13.0615C58.9965 11.5997 59.155 9.99113 58.8463 8.43928C58.5376 6.88743 57.7757 5.46197 56.6568 4.34315C55.538 3.22433 54.1126 2.4624 52.5607 2.15372C51.0089 1.84504 49.4003 2.00346 47.9385 2.60896C46.4767 3.21447 45.2273 4.23984 44.3482 5.55544C43.4692 6.87103 43 8.41775 43 10C43 12.1217 43.8428 14.1566 45.3431 15.6569C46.8434 17.1571 48.8783 18 51 18Z" fill="#FFD233"/>
      <path id="Vector_7" d="M51 9C53 9 53 8.37 53 8C53 7.63 52.3 7 51 7C49.7 7 49.61 7.64 49.6 8H47.6C47.6135 7.31875 47.8585 6.66241 48.2947 6.13896C48.731 5.61551 49.3324 5.25614 50 5.12V4H52V5.09C54 5.42 55 6.71 55 8C55 9.12 54.48 11 51 11C49 11 49 11.68 49 12C49 12.32 49.62 13 51 13C52.84 13 53 12.14 53 12H55C55 12.92 54.34 14.55 52 14.92V16H50V14.92C48 14.58 47 13.29 47 12C47 10.88 47.52 9 51 9Z" fill="#FFD233"/>
      </g>
      </g>
      <defs>
      <linearGradient id="paint0_linear_733_49" x1="32.5565" y1="30" x2="32.5565" y2="78.7459" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F589F7"/>
      <stop offset="1" stop-color="#DC0DE1"/>
      </linearGradient>
      </defs>
      </svg>
      </div>
    <div class="new"><svg width="90%" height="90%" viewBox="0 0 120 77" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="New">
      <g id="exvlamacion">
      <path id="Vector" d="M103.015 27.3747C102.973 27.0745 103.019 26.7713 103.15 26.4847C103.281 26.1981 103.494 25.9344 103.775 25.7106C104.057 25.4869 104.4 25.308 104.783 25.1856C105.166 25.0632 105.581 25 106 25C106.419 25 106.834 25.0632 107.217 25.1856C107.6 25.308 107.943 25.4869 108.225 25.7106C108.506 25.9344 108.719 26.1981 108.85 26.4847C108.981 26.7713 109.027 27.0745 108.985 27.3747L107.821 41.085C107.776 41.4101 107.565 41.7116 107.228 41.9309C106.892 42.1502 106.454 42.2716 106 42.2716C105.546 42.2716 105.108 42.1502 104.772 41.9309C104.435 41.7116 104.224 41.4101 104.179 41.085L103.015 27.3747ZM103 46.5907C103 46.0181 103.316 45.4689 103.879 45.064C104.441 44.6591 105.204 44.4316 106 44.4316C106.796 44.4316 107.559 44.6591 108.121 45.064C108.684 45.4689 109 46.0181 109 46.5907C109 47.1634 108.684 47.7125 108.121 48.1175C107.559 48.5224 106.796 48.7498 106 48.7498C105.204 48.7498 104.441 48.5224 103.879 48.1175C103.316 47.7125 103 47.1634 103 46.5907Z" fill="url(#paint0_linear_753_107)"/>
      </g>
      <g id="W">
      <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd" d="M71.6713 28.0273C71.4122 28.0705 71.1641 28.1643 70.9412 28.3033C70.7184 28.4424 70.5251 28.624 70.3724 28.8377C70.2198 29.0515 70.1107 29.2933 70.0515 29.5492C69.9923 29.8051 69.984 30.0702 70.0273 30.3293L74.0273 54.3293C74.095 54.7366 74.2872 55.113 74.5775 55.4068C74.8677 55.7005 75.2418 55.8973 75.6483 55.9699C76.0549 56.0425 76.4739 55.9876 76.8479 55.8125C77.2219 55.6375 77.5326 55.351 77.7373 54.9923L84.0003 44.0313L90.2633 54.9923C90.4679 55.351 90.7786 55.6375 91.1526 55.8125C91.5267 55.9876 91.9457 56.0425 92.3522 55.9699C92.7587 55.8973 93.1328 55.7005 93.4231 55.4068C93.7133 55.113 93.9055 54.7366 93.9733 54.3293L97.9733 30.3293C98.0605 29.806 97.9363 29.2695 97.628 28.8378C97.3197 28.4061 96.8525 28.1145 96.3293 28.0273C95.806 27.94 95.2695 28.0642 94.8378 28.3725C94.4061 28.6808 94.1145 29.148 94.0273 29.6713L90.9503 48.1313L85.7363 39.0083C85.5614 38.7021 85.3086 38.4477 85.0036 38.2707C84.6987 38.0937 84.3524 38.0005 83.9998 38.0005C83.6472 38.0005 83.3009 38.0937 82.9959 38.2707C82.691 38.4477 82.4382 38.7021 82.2633 39.0083L77.0493 48.1323L73.9733 29.6713C73.9301 29.4122 73.8363 29.1641 73.6972 28.9412C73.5582 28.7184 73.3766 28.5251 73.1628 28.3724C72.9491 28.2198 72.7073 28.1107 72.4514 28.0515C72.1955 27.9923 71.9304 27.984 71.6713 28.0273V28.0273Z" fill="url(#paint1_linear_753_107)"/>
      </g>
      <g id="N">
      <path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd" d="M21.3333 35.405V58.5C21.3333 59.163 21.1051 59.7989 20.6987 60.2678C20.2924 60.7366 19.7413 61 19.1667 61C18.592 61 18.0409 60.7366 17.6346 60.2678C17.2283 59.7989 17 59.163 17 58.5V28.5C17.0002 27.9864 17.1375 27.4853 17.3932 27.0649C17.6489 26.6445 18.0106 26.3252 18.4292 26.1504C18.8477 25.9756 19.3028 25.9537 19.7325 26.0879C20.1621 26.222 20.5456 26.5056 20.8307 26.9L38.6667 51.595V28.5C38.6667 27.837 38.8949 27.2011 39.3013 26.7322C39.7076 26.2634 40.2587 26 40.8333 26C41.408 26 41.9591 26.2634 42.3654 26.7322C42.7717 27.2011 43 27.837 43 28.5V58.5C42.9998 59.0136 42.8625 59.5147 42.6068 59.9351C42.3511 60.3555 41.9894 60.6748 41.5708 60.8496C41.1523 61.0244 40.6972 61.0463 40.2675 60.9121C39.8379 60.778 39.4544 60.4944 39.1693 60.1L21.3333 35.405Z" fill="url(#paint2_linear_753_107)"/>
      </g>
      <g id="E">
      <path id="Vector_4" d="M66 19H51V41H66" stroke="url(#paint3_linear_753_107)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path id="Vector_5" d="M51 30H63" stroke="url(#paint4_linear_753_107)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <g id="estrellas">
      <path id="estrellas5" d="M109.974 10.9921C109.942 10.9149 109.884 10.8471 109.807 10.7971C109.73 10.747 109.637 10.7169 109.54 10.7104L106.689 10.5217L105.456 8.24624C105.416 8.17295 105.352 8.1107 105.272 8.06701C105.191 8.02332 105.096 8.00004 105 8C104.904 7.99996 104.81 8.02314 104.729 8.06676C104.648 8.11038 104.584 8.17257 104.545 8.24582L103.311 10.5217L100.461 10.7104C100.365 10.7167 100.273 10.7459 100.197 10.7945C100.12 10.843 100.062 10.9089 100.03 10.9842C99.9971 11.0595 99.9912 11.141 100.013 11.219C100.034 11.2971 100.082 11.3683 100.151 11.4242L102.258 13.1354L101.513 15.8237C101.49 15.9051 101.497 15.9903 101.533 16.0682C101.57 16.1461 101.633 16.2131 101.715 16.2606C101.798 16.3081 101.896 16.3338 101.996 16.3344C102.096 16.3351 102.194 16.3106 102.278 16.2642L105 14.7517L107.723 16.2642C107.808 16.3113 107.908 16.3355 108.01 16.3337C108.113 16.3318 108.212 16.3039 108.294 16.2537C108.377 16.2035 108.439 16.1335 108.472 16.0529C108.506 15.9724 108.509 15.8853 108.481 15.8033L107.567 13.1367L109.835 11.4358C109.983 11.3242 110.038 11.15 109.974 10.9921Z" fill="url(#paint5_linear_753_107)" fill-opacity="0.1"/>
      </g>
      <g id="estrellas">
      <path id="estrellas4" d="M9.97351 28.9921C9.94209 28.9149 9.88424 28.8471 9.80711 28.7971C9.72999 28.747 9.63696 28.7169 9.53951 28.7104L6.68901 28.5217L5.45551 26.2462C5.41623 26.1729 5.35233 26.1107 5.27154 26.067C5.19074 26.0233 5.09649 26 5.00018 26C4.90386 26 4.80958 26.0231 4.72873 26.0668C4.64787 26.1104 4.58389 26.1726 4.54451 26.2458L3.31101 28.5217L0.460513 28.7104C0.364741 28.7167 0.273182 28.7459 0.196791 28.7945C0.120399 28.843 0.0624096 28.9089 0.0297597 28.9842C-0.00289019 29.0595 -0.00881797 29.141 0.0126856 29.219C0.0341892 29.2971 0.0822135 29.3683 0.151013 29.4242L2.25751 31.1354L1.51251 33.8237C1.48989 33.9051 1.49714 33.9903 1.53332 34.0682C1.5695 34.1461 1.63295 34.2131 1.71541 34.2606C1.79788 34.3081 1.89557 34.3338 1.99581 34.3344C2.09604 34.3351 2.19419 34.3106 2.27751 34.2642L5.00001 32.7517L7.72251 34.2642C7.80768 34.3113 7.90812 34.3355 8.01033 34.3337C8.11254 34.3318 8.2116 34.3039 8.29421 34.2537C8.37682 34.2035 8.439 34.1335 8.4724 34.0529C8.50579 33.9724 8.5088 33.8853 8.48101 33.8033L7.56651 31.1367L9.83451 29.4358C9.98301 29.3242 10.0375 29.15 9.97351 28.9921V28.9921Z" fill="url(#paint6_diamond_753_107)" fill-opacity="0.1"/>
      </g>
      <g id="estrellas">
      <path id="estrellas3" d="M56.9735 2.99207C56.9421 2.91493 56.8842 2.84715 56.8071 2.79709C56.73 2.74704 56.637 2.7169 56.5395 2.7104L53.689 2.52165L52.4555 0.246236C52.4162 0.17295 52.3523 0.110704 52.2715 0.0670105C52.1907 0.0233172 52.0965 4.41162e-05 52.0002 6.26577e-08C51.9039 -4.39909e-05 51.8096 0.0231428 51.7287 0.0667622C51.6479 0.110382 51.5839 0.172569 51.5445 0.24582L50.311 2.52165L47.4605 2.7104C47.3647 2.71673 47.2732 2.74591 47.1968 2.79446C47.1204 2.84301 47.0624 2.90887 47.0298 2.98416C46.9971 3.05946 46.9912 3.141 47.0127 3.21903C47.0342 3.29706 47.0822 3.36827 47.151 3.42415L49.2575 5.1354L48.5125 7.82374C48.4899 7.90511 48.4971 7.99027 48.5333 8.06817C48.5695 8.14607 48.6329 8.21311 48.7154 8.26058C48.7979 8.30806 48.8956 8.33379 48.9958 8.33442C49.096 8.33506 49.1942 8.31058 49.2775 8.26415L52 6.75165L54.7225 8.26415C54.8077 8.31128 54.9081 8.33553 55.0103 8.33367C55.1125 8.3318 55.2116 8.30389 55.2942 8.25371C55.3768 8.20352 55.439 8.13345 55.4724 8.05293C55.5058 7.97241 55.5088 7.8853 55.481 7.80332L54.5665 5.13665L56.8345 3.43582C56.983 3.32415 57.0375 3.14999 56.9735 2.99207V2.99207Z" fill="url(#paint7_radial_753_107)" fill-opacity="0.1"/>
      </g>
      <g id="estrellas">
      <path id="estrellas2" d="M70.9735 70.8246C70.9421 70.7474 70.8842 70.6797 70.8071 70.6296C70.73 70.5796 70.637 70.5494 70.5395 70.5429L67.689 70.3542L66.4555 68.0788C66.4162 68.0055 66.3523 67.9432 66.2715 67.8995C66.1907 67.8558 66.0965 67.8326 66.0002 67.8325C65.9039 67.8325 65.8096 67.8557 65.7287 67.8993C65.6479 67.9429 65.5839 68.0051 65.5445 68.0783L64.311 70.3542L61.4605 70.5429C61.3647 70.5492 61.2732 70.5784 61.1968 70.627C61.1204 70.6755 61.0624 70.7414 61.0298 70.8167C60.9971 70.892 60.9912 70.9735 61.0127 71.0515C61.0342 71.1296 61.0822 71.2008 61.151 71.2567L63.2575 72.9679L62.5125 75.6563C62.4899 75.7376 62.4971 75.8228 62.5333 75.9007C62.5695 75.9786 62.6329 76.0456 62.7154 76.0931C62.7979 76.1406 62.8956 76.1663 62.9958 76.1669C63.096 76.1676 63.1942 76.1431 63.2775 76.0967L66 74.5842L68.7225 76.0967C68.8077 76.1438 68.9081 76.1681 69.0103 76.1662C69.1125 76.1643 69.2116 76.1364 69.2942 76.0862C69.3768 76.036 69.439 75.966 69.4724 75.8855C69.5058 75.8049 69.5088 75.7178 69.481 75.6358L68.5665 72.9692L70.8345 71.2683C70.983 71.1567 71.0375 70.9825 70.9735 70.8246V70.8246Z" fill="url(#paint8_linear_753_107)" fill-opacity="0.1"/>
      </g>
      <g id="estrellas">
      <path id="estrellas1" d="M119.974 59.9921C119.942 59.9149 119.884 59.8471 119.807 59.7971C119.73 59.747 119.637 59.7169 119.54 59.7104L116.689 59.5217L115.456 57.2462C115.416 57.1729 115.352 57.1107 115.272 57.067C115.191 57.0233 115.096 57 115 57C114.904 57 114.81 57.0231 114.729 57.0668C114.648 57.1104 114.584 57.1726 114.545 57.2458L113.311 59.5217L110.461 59.7104C110.365 59.7167 110.273 59.7459 110.197 59.7945C110.12 59.843 110.062 59.9089 110.03 59.9842C109.997 60.0595 109.991 60.141 110.013 60.219C110.034 60.2971 110.082 60.3683 110.151 60.4242L112.258 62.1354L111.513 64.8237C111.49 64.9051 111.497 64.9903 111.533 65.0682C111.57 65.1461 111.633 65.2131 111.715 65.2606C111.798 65.3081 111.896 65.3338 111.996 65.3344C112.096 65.3351 112.194 65.3106 112.278 65.2642L115 63.7517L117.723 65.2642C117.808 65.3113 117.908 65.3355 118.01 65.3337C118.113 65.3318 118.212 65.3039 118.294 65.2537C118.377 65.2035 118.439 65.1335 118.472 65.0529C118.506 64.9724 118.509 64.8853 118.481 64.8033L117.567 62.1367L119.835 60.4358C119.983 60.3242 120.038 60.15 119.974 59.9921Z" fill="url(#paint9_angular_753_107)" fill-opacity="0.1"/>
      </g>
      </g>
      <defs>
      <linearGradient id="paint0_linear_753_107" x1="106" y1="25" x2="106" y2="48.7498" gradientUnits="userSpaceOnUse">
      <stop stop-color="#76C625"/>
      <stop offset="1" stop-color="#D62C2C"/>
      </linearGradient>
      <linearGradient id="paint1_linear_753_107" x1="84.0003" y1="28" x2="84.0003" y2="56.0011" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F60505"/>
      <stop offset="0.483052" stop-color="#DDD523" stop-opacity="0.976571"/>
      <stop offset="1" stop-color="#14E4F1" stop-opacity="0.76"/>
      </linearGradient>
      <linearGradient id="paint2_linear_753_107" x1="30" y1="26" x2="30" y2="61" gradientUnits="userSpaceOnUse">
      <stop stop-color="#E030E3"/>
      <stop offset="1" stop-color="#E33030"/>
      </linearGradient>
      <linearGradient id="paint3_linear_753_107" x1="58.5" y1="19" x2="58.5" y2="41" gradientUnits="userSpaceOnUse">
      <stop stop-color="#EFDA20"/>
      <stop offset="1" stop-color="#3330C4"/>
      </linearGradient>
      <linearGradient id="paint4_linear_753_107" x1="57" y1="30" x2="57" y2="31" gradientUnits="userSpaceOnUse">
      <stop stop-color="#EFDA20"/>
      <stop offset="1" stop-color="#3330C4"/>
      </linearGradient>
      <linearGradient id="paint5_linear_753_107" x1="105" y1="8" x2="105" y2="16.3344" gradientUnits="userSpaceOnUse">
      <stop offset="0.352838" stop-color="#41F1F1"/>
      <stop offset="1" stop-color="#1328EB"/>
      </linearGradient>
      <radialGradient id="paint6_diamond_753_107" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(4.99997 30.1672) rotate(90) scale(4.16722 4.99997)">
      <stop stop-color="#E6D21F"/>
      <stop offset="1" stop-color="#CD3521"/>
      </radialGradient>
      <radialGradient id="paint7_radial_753_107" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(52 4.16722) rotate(90) scale(4.16722 4.99997)">
      <stop offset="0.0715768" stop-color="#ECFF18"/>
      <stop offset="1" stop-color="#18C7FF"/>
      </radialGradient>
      <linearGradient id="paint8_linear_753_107" x1="66" y1="67.8325" x2="66" y2="76.167" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F11919"/>
      <stop offset="1" stop-color="#9219F1" stop-opacity="0.73"/>
      </linearGradient>
      <radialGradient id="paint9_angular_753_107" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(115 61.1672) rotate(90) scale(4.16722 4.99997)">
      <stop stop-color="#DAE742"/>
      <stop offset="0.483052" stop-color="#CD1C1C" stop-opacity="0.856713"/>
      <stop offset="1" stop-color="#F33E17" stop-opacity="0.69"/>
      </radialGradient>
      </defs>
      </svg>
      
      </div>
    <div class="sold"> <svg width="90%" height="80%" viewBox="0 0 51 82" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Group">
      <g id="pan">
      <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M9.8667 61.4731C8.67733 60.6998 7.42727 60.0167 6.12781 59.43C7.64667 57.3097 9.3088 55.2878 11.1034 53.3775C13.8992 53.5636 16.6521 54.1392 19.2761 55.0862C24.6087 57.0587 26.7794 54.3898 21.7336 51.0644C20.0557 49.972 18.2537 49.0673 16.3628 48.3679C18.6165 46.4224 21.0052 44.6267 23.5122 42.9933C26.1244 43.2174 28.6927 43.783 31.1462 44.6744C36.4725 46.6439 38.6495 43.975 33.5974 40.6527C32.6698 40.0422 31.6913 39.5146 30.6936 39.0207C38.8184 35.3333 46.0189 34.8639 49.4518 38.4899C54.9311 44.2695 45.1009 54.4297 31.9877 65.9274C18.884 77.4251 7.47291 85.9103 1.98729 80.1277C-1.11411 76.8514 -0.457494 70.9216 3.06784 64.3046C4.55639 64.6113 6.01624 64.9764 7.40916 65.4948C12.745 67.4674 14.9188 64.8015 9.8667 61.4731Z" fill="url(#paint0_radial_730_15)"/>
      </g>
      <g id="humo">
      <path id="Vector_2" d="M30.8924 0C30.8924 0 29.0764 4.75601 29.0764 10.446C29.0764 15.1103 33.6614 17.4429 33.6614 21.337C33.6614 29.0548 27.3214 34.0693 27.3214 34.0693C27.3214 34.0693 29.6424 30.0812 29.6424 23.2958C29.6424 20.939 25.3574 15.6698 25.3574 12.3108C25.3574 4.94327 30.8924 0 30.8924 0Z" fill="url(#paint1_linear_730_15)"/>
      </g>
      <g id="humo_2">
      <path id="Vector_3" d="M19.535 0C19.535 0 17.719 6.07 17.719 13.332C17.719 19.285 22.304 22.262 22.304 27.232C22.304 37.082 15.964 43.482 15.964 43.482C15.964 43.482 18.285 38.392 18.285 29.732C18.285 26.724 14 19.999 14 15.712C14 6.309 19.535 0 19.535 0Z" fill="url(#paint2_linear_730_15)"/>
      </g>
      <g id="humo_3">
      <path id="Vector_4" d="M7.535 12C7.535 12 5.722 17.0928 5.722 23.1857C5.722 28.1804 10.304 30.6781 10.304 34.848C10.304 43.1123 3.964 48.482 3.964 48.482C3.964 48.482 6.285 44.2114 6.285 36.9456C6.285 34.4218 2 28.7794 2 25.1826C2 17.2933 7.535 12 7.535 12Z" fill="url(#paint3_linear_730_15)"/>
      </g>
      </g>
      <defs>
      <radialGradient id="paint0_radial_730_15" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(25.5 58.9963) rotate(90) scale(22.9963 25.5)">
      <stop stop-color="#F4B275"/>
      <stop offset="1" stop-color="#E3740E"/>
      </radialGradient>
      <linearGradient id="paint1_linear_730_15" x1="29.5094" y1="0" x2="29.5094" y2="34.0693" gradientUnits="userSpaceOnUse">
      <stop stop-color="#D27C2C" stop-opacity="0"/>
      <stop offset="0.848958" stop-color="#D27C2C"/>
      <stop offset="1" stop-color="#D27C2C" stop-opacity="0.819444"/>
      </linearGradient>
      <linearGradient id="paint2_linear_730_15" x1="18.152" y1="0" x2="18.152" y2="43.482" gradientUnits="userSpaceOnUse">
      <stop stop-color="#D27C2C" stop-opacity="0"/>
      <stop offset="0.979167" stop-color="#D27C2C"/>
      </linearGradient>
      <linearGradient id="paint3_linear_730_15" x1="6.152" y1="12" x2="6.152" y2="48.482" gradientUnits="userSpaceOnUse">
      <stop stop-color="#D27C2C" stop-opacity="0"/>
      <stop offset="0.901042" stop-color="#D27C2C"/>
      </linearGradient>
      </defs>
      </svg> </div>
    <div class="stars">
      <svg width="90%" height="90%" viewBox="0 0 60 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Group">
          <g id="Group 6">
          <path id="Vector" d="M0 23H22.9L30 2L37.1 23H60L41.5 36L48.6 57L30 44L11.5 57L18.6 36L0 23Z" fill="url(#paint0_radial_730_18)"/>
          </g>
          <g id="starpetit">
          <path id="Vector_2" d="M49.3646 11.4145L48.3256 9.2115C48.2975 9.14853 48.2517 9.09504 48.1939 9.05751C48.136 9.01998 48.0686 9.00001 47.9996 9.00001C47.9306 9.00001 47.8632 9.01998 47.8053 9.05751C47.7474 9.09504 47.7017 9.14853 47.6736 9.2115L46.6336 11.4145L44.3106 11.7705C44.0126 11.8155 43.8946 12.1995 44.1106 12.4195L45.7906 14.1325L45.3946 16.5535C45.3436 16.8645 45.6546 17.1015 45.9216 16.9545L47.9996 15.8115L50.0776 16.9545C50.3446 17.1015 50.6556 16.8645 50.6046 16.5545L50.2086 14.1325L51.8886 12.4195C52.1046 12.1995 51.9866 11.8155 51.6886 11.7695L49.3646 11.4145Z" fill="#F6F950" stroke="#FFD233" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <g id="starpetit">
          <path id="Vector_3" d="M12.3646 9.4145L11.3256 7.2115C11.2975 7.14853 11.2517 7.09504 11.1939 7.05751C11.136 7.01998 11.0686 7.00001 10.9996 7.00001C10.9306 7.00001 10.8632 7.01998 10.8053 7.05751C10.7474 7.09504 10.7017 7.14853 10.6736 7.2115L9.6336 9.4145L7.3106 9.7705C7.0126 9.8155 6.8946 10.1995 7.1106 10.4195L8.7906 12.1325L8.3946 14.5535C8.3436 14.8645 8.6546 15.1015 8.9216 14.9545L10.9996 13.8115L13.0776 14.9545C13.3446 15.1015 13.6556 14.8645 13.6046 14.5545L13.2086 12.1325L14.8886 10.4195C15.1046 10.1995 14.9866 9.8155 14.6886 9.7695L12.3646 9.4145Z" fill="#F6F950" stroke="#FFD233" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <g id="starpetit">
          <path id="Vector_4" d="M10.0357 37.7166L8.86677 35.238C8.83515 35.1671 8.78368 35.1069 8.71859 35.0647C8.6535 35.0225 8.57757 35 8.49999 35C8.4224 35 8.34648 35.0225 8.28139 35.0647C8.2163 35.1069 8.16483 35.1671 8.13321 35.238L6.96311 37.7166L4.34951 38.1171C4.01423 38.1678 3.88147 38.5998 4.12449 38.8473L6.01465 40.7747L5.56911 43.4986C5.51173 43.8485 5.86164 44.1151 6.16204 43.9497L8.49999 42.6637L10.8379 43.9497C11.1383 44.1151 11.4882 43.8485 11.4309 43.4997L10.9853 40.7747L12.8755 38.8473C13.1185 38.5998 12.9857 38.1678 12.6505 38.116L10.0357 37.7166Z" fill="#F6F950" stroke="#FFD233" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <g id="starpetit">
          <path id="Vector_5" d="M52.3646 38.4145L51.3256 36.2115C51.2975 36.1485 51.2517 36.095 51.1939 36.0575C51.136 36.02 51.0686 36 50.9996 36C50.9306 36 50.8632 36.02 50.8053 36.0575C50.7474 36.095 50.7017 36.1485 50.6736 36.2115L49.6336 38.4145L47.3106 38.7705C47.0126 38.8155 46.8946 39.1995 47.1106 39.4195L48.7906 41.1325L48.3946 43.5535C48.3436 43.8645 48.6546 44.1015 48.9216 43.9545L50.9996 42.8115L53.0776 43.9545C53.3446 44.1015 53.6556 43.8645 53.6046 43.5545L53.2086 41.1325L54.8886 39.4195C55.1046 39.1995 54.9866 38.8155 54.6886 38.7695L52.3646 38.4145Z" fill="#F6F950" stroke="#FFD233" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <g id="number5">
          <path id="5" d="M29.2 25.44C31.312 25.44 33.216 25.936 34.912 26.928C36.64 27.888 37.984 29.216 38.944 30.912C39.936 32.608 40.432 34.496 40.432 36.576C40.432 38.72 39.824 40.704 38.608 42.528C37.392 44.352 35.776 45.808 33.76 46.896C31.744 47.952 29.568 48.48 27.232 48.48C25.984 48.48 24.688 48.288 23.344 47.904C22.032 47.52 20.96 46.992 20.128 46.32C19.744 46 19.424 45.552 19.168 44.976C18.912 44.4 18.784 43.856 18.784 43.344C18.784 42.768 19.024 42.256 19.504 41.808C20.016 41.328 20.672 41.088 21.472 41.088C22.048 41.088 22.768 41.392 23.632 42C24.976 42.832 26.16 43.248 27.184 43.248C28.496 43.248 29.728 42.944 30.88 42.336C32.032 41.728 32.944 40.912 33.616 39.888C34.32 38.864 34.672 37.76 34.672 36.576C34.672 34.848 34.08 33.44 32.896 32.352C31.712 31.264 30.304 30.72 28.672 30.72C27.936 30.72 27.28 30.816 26.704 31.008C26.128 31.2 25.44 31.488 24.64 31.872C24.064 32.16 23.6 32.368 23.248 32.496C22.928 32.624 22.592 32.688 22.24 32.688C20.992 32.688 20.096 32.352 19.552 31.68C19.04 31.008 18.784 30.208 18.784 29.28C18.784 28.96 18.8 28.736 18.832 28.608L20.32 16.704C20.448 16.032 20.768 15.488 21.28 15.072C21.824 14.624 22.464 14.4 23.2 14.4H37.072C37.84 14.4 38.48 14.656 38.992 15.168C39.504 15.68 39.76 16.32 39.76 17.088C39.76 17.824 39.504 18.448 38.992 18.96C38.48 19.44 37.84 19.68 37.072 19.68H25.168L24.256 26.64C24.864 26.288 25.632 26 26.56 25.776C27.488 25.552 28.368 25.44 29.2 25.44Z" fill="#F79148"/>
          </g>
          </g>
          <defs>
          <radialGradient id="paint0_radial_730_18" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(30 29.5) rotate(90) scale(27.5 30)">
          <stop stop-color="#FFCE31"/>
          <stop offset="1" stop-color="#E1B116"/>
          </radialGradient>
          </defs>
          </svg>
          
          
        </div>
    

  </div>

  <div class="article-container-new">
      <div class="img-container-new"> <img src="\img\products\<%= Off[i].photo %>" alt=""> </div>
      <h3 class="product-name"><%= Off[i].name%></h2>
      <p class="product-description"><%= Off[i].description.slice(0,400) + "..."%></p>
      <div class="product-value">
            <h3 class="product-price"><%= Off[i].priceEnd  %>$</h3>
            <h3 class="descount"><%= Off[i].descount%>% off</h3>
      </div>

  </div>


  <div class="article-footer"></div>


<!-- 
 </a>  -->
 </article>
  
 
 
 <% } %>  




</section>










       <%- include('./partials/footer.ejs') %>

       <%- include('./partials/script.ejs')  %> 
</body>
</html>