<!DOCTYPE html>
<html lang="es">

<%- include('../partials/headAdmin.ejs') %>

    <body>

        <%- include('../partials/headerAdmin.ejs') %>

            <main class="listOfAllProducts">

                <h2 class="titleListProduct">Bienvenid@ al admin!!<br>Aquí está el listado de tus productos</h2>

                <section class="listTable">

                    <table>
                    <!-- tr para la primer fila general (row:fila) -->
                        <tr class="header">
                         <!-- th, la h de header(encabezado) --> 
                            <th>ID</th>
                            <th>Nombre</th> 
                            <th>Categoria</th> 
                            <th>Subcategoria</th>
                            <th>Stock</th>
                            <th>Acción</th>

                        </tr> 
                        

                        <% products.forEach(products =>{  %>
                        <tr class="body">
                        <!-- td, estas serian las celdas normales -->
                        <!-- atributo: data-(algun nombre) -->
                            <td data-header="ID"><%= products.id %></td>
                            <td data-header="Nombre"><%= products.name %></td>
                            <td data-header="Categoria"><%= products.gender.nameGender %></td>
                             <td data-header="Subcategoria">Futbol</td>
                            <td data-header="Stock"><%= products.stock %></td>
                            <td data-header="Acción">
                            <a href="/admin/update/<%= products.id %>"><i class="fas fa-edit"></i></a>
                            <form action="/products/delete/<%= products.id %>?_method=DELETE" method="POST">
                                <button type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                            </td>

                        </tr>

                        <% }) %>
                    </table>

                </section>

            </main>
          
            <%- include('../partials/scriptAdmin.ejs') %> 

    </body>

</html>