<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    
    <%- include('../partials/header.ejs') %>
    


    <section class="producto-container">
        <div ><h3 id="name-producto"><%= producto.name %></h3></div>
        <div class="producto-imagenes">
            <div class="img1">  <img src="/img/<%= producto.photo[0] %>" alt="" >  </div>
            <div class="img2"></div>
            <div class="img3"></div>
            <div class="img3"></div>

        </div>

        <div class="producto-detalles">
                <p><%= producto.description %></p>



                </div>

                <div class="producto-formasDepago">

                </div>

                <div class="producto-botones">
                    <div><input type="button" value="Carrito"></div>
                    <div><input type="button" value="Comprar"></div>
                     <% if(producto.descount != 0){ %>
    
                                    <h4 id="oferta"><%= producto.descount %> %off</h4>
                                    <% } %>
                    <h3 id="precio"><%= producto.price %>$ </h3>


                </div>


            </section>

            <%- include('../partials/footer.ejs') %>

            <%- include('../partials/script.ejs') %> 

    </body>

</html>