<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>
    
    <body>

        <main class="myProfile">

            <header class="headerMyProfile">

                <h2 class="titleProfile">Mi perfil</h2>
                <a href="productCart"><i class="far fa-shopping-cart cartProfile"></i></a>
                
            </header> 
           
            <form class="form-profile" id="form" action="/users/myProfile/<%= session.user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
              
                <div class="encabezado">

                    <!-- circle photo -->
                    <div class="avatar">
                        <img class="img-avatar" id="idAvatar" src="/img/avatars/<%= user.avatar %>" alt="">
                    </div> <!--  locals.old ? old.avatar : -->

                    <div class="fileButtom"> 
                        <i class="fas fa-pencil-alt"></i>
                        <input type="file" name="avatar" accept=".jpg" id="archivo" multiple>
                    </div>  
                 
                    <h2 class="user">
                        Hola <%= user.name %>!!<br>
                        <%= user.email %>
                    </h2>
       
                </div>
                <!-- end encabezado -->

                <div class="container-data">

                    <div class="profileContainer">
                        <label class="data" for="name">Nombre</label><br>
                        <input class="input-style" type="text" id="name" name="name" value="<%= locals.old ? old.name : user.name %>">
                        <% if (locals.errors && errors.name) { %> 
                            <span class="error-msj" id="nameErrors"><%= errors.name.msg %></span>
                        <% } %> 
                    </div>  
                   

                    <div class="profileContainer">
                        <label class="data" for="lastName">Apellido</label><br>
                        <input class="input-style" type="text" id="lastName" name="lastName" value="<%= locals.old ? old.lastName : user.lastName %>">
                        <% if (locals.errors && errors.lastName) { %> 
                            <span class="error-msj" id="lastNameErrors"><%= errors.lastName.msg %></span>
                        <% } %> 
                    </div>

                    <div class="profileContainer"> 
                        <label class="data" for="number">Edad</label><br>
                        <input class="input-style" type="date" id="age" name="age" value="<%= locals.old ? old.age : user.age %>">
                        <% if (locals.errors && errors.age) { %> 
                            <span class="error-msj" id="ageErrors"><%= errors.age.msg %></span>
                        <% } %> 
                    </div>

                    <div class="profileContainer">
                        <label class="data" for="address">Teléfono</label><br>
                        <input class="input-style" type="text" id="tel" name="tel" value="<%= locals.old ? old.tel : user.tel %>">
                        <% if (locals.errors && errors.tel) { %> 
                            <span class="error-msj" id="telErrors"><%= errors.tel.msg %></span>
                        <% } %> 
                    </div> 

                    <div class="profileContainer">
                        <label class="data" for="address">Dirección</label><br>
                        <input class="input-style" type="text" id="address" name="address" value="<%= locals.old ? old.address : user.address %>">
                        <% if (locals.errors && errors.address) { %> 
                            <span class="error-msj" id="addressErrors"><%= errors.address.msg %></span>
                        <% } %> 
                    </div>

                    <!-- API del gobierno que lista las provincias y localidades de Argentina(select) -->
                    <label class="label-select" for="">Provincia</label><br>
                    <select name="province" id="select-provincias"> 
                        <option value="<%= locals.old ? old.province : user.province %>" selected hidden>Seleccione...</option>
                    </select>
                    <br>
                    <br> 

                    <label class="label-select" for="">Localidad</label><br>
                    <select name="locality" id="select-localidades">  
                        <option value="<%= locals.old ? old.locality : user.locality %>" selected hidden>Seleccione...</option>
                    </select> 

                </div>

                <!-- div-buttom -->
                <div class="buttom-myProfile">
                    <button type="submit">Guardar cambios</button>
                </div>

            </form>

            <footer class="footerMyProfile">

                <p class="message">Que crecer no signifique dejar de ser niños… sigue jugando!!!</p>

            </footer>

        </main>

        <!-- este script es solo para myProfile(select: provincia y localidad) -->
        <script src="/js/selectMyProfile.js" defer></script> 

        <!-- script front end validations-->
        <script src="/js/usersValidations/myProfileValidation.js" defer></script> 

        <!-- previsualización del avatar -->
        <script>
            let inputChangeImage = document.getElementById('archivo');
            let vistaPrevia = document.getElementById('idAvatar')
            inputChangeImage.addEventListener('change', (e) => {
                let reader = new FileReader();
                reader.readAsDataURL(e.target.files[0])
                reader.onload = () => {
                    vistaPrevia.src = reader.result,
                    vistaPrevia.class="img-avatar", 
                    vistaPrevia.id="idAvatar"
                }
            })
        </script>


    </body>

</html>