<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body class="bodyCart">

        <%- include('../partials/header.ejs') %>

            <main class="cart">
                <div class="title-cart">
                    <h2 class="h2title">Carrito</h2>
                    <p class="titleP">
                        <%= product.length %> elementos en tu carrito
                    </p>
                </div>
                <hr>

                <div class="div-products">
                    <% for( let i=0; i < product.length; i++ ) { %>

                        <div class="product-1">
                            <img src="/img/products/<%= product[i].product.photo %>" alt="">

                            <div class="product-container">
                                <div class="cart-detail">
                                    <h3><%= product[i].product.name %></h3> <br>
                                   <h3 class="cart-price"> $<%= product[i].product.priceEnd %></h3>
                                
                                </div>
                                

                                <div class="counter">
                                    <button type="button" class="btn-subtract" onclick="subtract();">
                                        -
                                    </button>

                                    <div id="count">1</div>

                                    <button type="button" id="btn-add" onclick="add();">
                                        +
                                    </button>
                                </div>

                            </div>
                        </div><br>
                        <hr>

                        <% } %>

                </div>

                <div class="total-and-buttom">
                    
                    <p class="p-totales">TOTAL $<%=total%></p><br>
                    <button type="submit">Realizar pedido</button> <br>
                    <button type="submit">Seguir comprando</button>
                </div>

            </main>

            <%- include('../partials/footer.ejs') %>
                <%- include('../partials/script.ejs') %>
                    <script src="/js/productCart.js"></script>
                    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    </body>

</html>