<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <main class="form-main">

                <form action="/users/register" method="POST" id="form">
                   <!--  enctype="multipart/form-data" (saque esto porq lleve la foto a myProfile)-->
                    <div class="formulario">

                        <h2 class="titulo">Registro</h2>

                        <div class="input-datos">
                            <label class="style-label" for="nombre">Nombre</label><br>
                            <input class="input-estilo" type="text" name="name" id="inputName" value="<%= locals.old && old.name %>"> <!-- old para que al rellenar los datos no se vuelvan a borrar todos y tener que comenzar de vuelta-->
                            <% if (locals.errors && errors.name) { %> 
                                <span class="error-msj"><%= errors.name.msg %></span>
                            <% } %> 
                            <span class="error-msj" id="nameErrors"></span>
                        </div>

                        <div class="input-datos">
                            <label class="style-label" for="last_name">Apellido</label><br>
                            <input class="input-estilo" type="text" name="lastName" id="inputLastName" value="<%= locals.old && old.lastName %>">
                            <% if (locals.errors && errors.lastName) { %> 
                                <span class="error-msj"><%= errors.lastName.msg %></span>
                            <% } %> 
                            <span class="error-msj" id="lastNameErrors"></span>
                        </div> 

                        <div class="input-datos">
                            <label class="style-label" for="email">E-mail</label><br>
                            <!--Tambien dentro del input podemos agregar un required (saldra un aviso standar) pero mejor hacer un span-->
                            <input class="input-estilo" type="email" name="email" id="inputEmail"> 
                            <% if (locals.errors && errors.email) { %> 
                                <span class="error-msj"><%= errors.email.msg %></span>
                            <% } %> 
                            <span class="error-msj" id="emailErrors"></span>
                        </div>

                        <div class="input-datos">
                            <label class="style-label" for="pass">Contraseña</label><br>
                            <input class="input-estilo" type="password" name="pass1" id="inputPass">
                            <% if (locals.errors && errors.pass1) { %> 
                                <span class="error-msj" id="passErrors"><%= errors.pass1.msg %></span>
                            <% } %>
                            <span class="error-msj" id="passErrors"></span>
                        </div>

                        <div class="input-datos">
                            <label class="style-label" for="pass">Repetir contraseña</label><br>
                            <input class="input-estilo" type="password" name="pass2" id="inputPass2">
                            <% if (locals.errors && errors.pass2) { %> 
                                <span class="error-msj" id="pass2Errors"><%= errors.pass2.msg %></span>
                            <% } %>
                            <span class="error-msj" id="passErrors2"></span>
                        </div>

                        <div class="check-1">
                            <label for="terms">Acepto los <a style="color: rgb(100, 100, 255);" href="/terms">términos y condiciones</a></label>
                            <input type="checkbox" name="terms" id="inputTerms"><br>
                            <% if (locals.errors && errors.terms) { %>
                                <span class="error-msj" id=""><%= errors.terms.msg %></span>
                            <% } %>
                            <span class="error-msj" id="termsErrors"></span>
                        </div><br>

                         <!--  <button type="submit">Registrarme</button><br>                  
                            <span class="error-msj" id="submitErrors"></span>  -->

                        <div class="button">
                            <button type="submit">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front text">Registrarme</span>
                            </button> 
                        </div> 
                        <span class="error-msj" id="submitErrors"></span>

                        <!-- <a href="/admin/create">
                              <button>
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front text"> Crear
                                </span>
                              </button>
                        </a>  -->

                        <span><a href="login">Ya tengo mi cuenta</a></span>
                    </div>

                </form>
            </main>

            <%- include('../partials/footer.ejs') %>

            <%- include('../partials/script.ejs') %> 

            <!-- script front end validations-->
            <script src="/js/usersValidations/registerValidations.js" defer></script> 
    </body>

</html>