<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <main class="form-main">

                <form action="/users/register" method="POST" enctype="multipart/form-data">

                    <div class="formulario">

                        <h2 class="titulo">Registro</h2>

                        <div class="input-datos">
                            <label for="nombre">Nombre</label><br>
                            <input class="input-estilo" type="text" name="name" id="name" value="<%= locals.old && old.name %>"> <!-- old para que al rellenar los datos no se vuelvan a borrar todos y tener que comenzar de vuelta-->
                            <% if (locals.errors && errors.name) { %> 
                                <span class="error-msj"><%= errors.name.msg %></span>
                            <% } %> 
                        </div>

                        <div class="input-datos">
                            <label for="last_name">Apellido</label><br>
                            <input class="input-estilo" type="text" name="lastName" id="last_name" value="<%= locals.old && old.last_name %>">
                            <% if (locals.errors && errors.last_name) { %> 
                                <span class="error-msj"><%= errors.last_name.msg %></span>
                            <% } %> 
                        </div> 

                        <div class="input-datos">
                            <label for="email">E-mail</label><br>
                            <!--Tambien dentro del input podemos agregar un required (saldra un aviso standar) pero mejor hacer un span-->
                            <input class="input-estilo" type="email" name="email" id="email"> 
                            <% if (locals.errors && errors.email) { %> 
                                <span class="error-msj"><%= errors.email.msg %></span>
                            <% } %> 
                        </div>

                        <div class="input-datos">
                            <label for="pass">Contraseña</label><br>
                            <input class="input-estilo" type="password" name="pass1" id="pass">
                            <% if (locals.errors && errors.pass1) { %> 
                                <span class="error-msj"><%= errors.pass1.msg %></span>
                            <% } %>
                        </div>

                        <div class="input-datos">
                            <label for="pass">Repetir contraseña</label><br>
                            <input class="input-estilo" type="password" name="pass2" id="pass">
                            <% if (locals.errors && errors.pass2) { %> 
                                <span class="error-msj"><%= errors.pass2.msg %></span>
                            <% } %>
                        </div>

                        <div class="file-avatar">
                            <label class="label-avatar" for="avatar">Ingrese una foto</label>
                            <input class="input-avatar" type="file" name="avatar" id="avatar">
                            <% if (locals.errors && errors.image) { %>
                                <span class="text-danger"><%= errors.image.msg %></span>
                            <% } %>
                        </div>

                        <div class="check-1">
                            <label for="terms">Acepto los <a href="">términos y condiciones</a></label>
                            <input type="checkbox" name="terms" id="terms"><br>
                            <% if (locals.errors && errors.terms) { %>
                                <span class="error-msj"><%= errors.terms.msg %></span>
                            <% } %>
                        </div><br>

                        <div class="button">
                            <button type="submit">REGISTRARME</button><br>
                            <!-- <span class="error-msj">Hubo errores en tu envio</span> -->
                        </div>

                        <span><a href="login">Ya tengo mi cuenta</a></span>
                    </div>

                </form>
            </main>

            <%- include('../partials/footer.ejs') %>

            <%- include('../partials/script.ejs') %> 

    </body>

</html>